.login, .registration {
  position: relative;

  h1 {
    margin-bottom: 10px;
  }

  input[type="text"], input[type="password"] {
    display: block;
    margin-bottom: 10px;
  }

  button {
    margin-bottom: 10px;
  }

  a {
    display: block;
  }
}
