* {
  margin: 0;
  padding: 0;
}

body {
  padding: 20px;
}

.container {
  position: relative;
}

#legend {
  position: absolute;
  z-index: 999;
  margin-top: 10px;
  margin-left: 10px;
}
  #legend p.values span {
    color: #000FFF;
    margin-left: 2px;
  }

#paint-panel {
  position: absolute;
  z-index: 999;
  margin-top: 92px;
  margin-left: 10px;

  border-radius: 100px;
}
  #paint-panel div {
    width: 40px;
    height: 40px;
    cursor: pointer;
    box-sizing: border-box;
    margin-right: 2px;
    display: inline-block;
    border: 1px dashed #d9d9d9;
  }
    #paint-panel div.active {
      border-color: #00bf20;
    }

    #paint-panel div img {
      width: 100%;
      height: 100%;
    }

#charts-periods {
  position: absolute;
  z-index: 999;
  margin-top: 43px;
  margin-left: 10px;
}
  #charts-periods div {
    width: 40px;
    height: 40px;
    cursor: pointer;
    box-sizing: border-box;
    margin-right: 2px;
    position: relative;
    display: inline-block;
    border: 1px dashed #d9d9d9;
    background-color: white;
  }
    #charts-periods div.active {
      border-color: #00bf20;
    }

    #charts-periods div span {
      margin: 8px auto;
      text-align: center;
      display: block;
    }

#charts-view {
  position: absolute;
  z-index: 999;
  margin-top: 142px;
  margin-left: 10px;
}
  #charts-view div {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: white;
    border: 1px solid black;
    text-align: center;
    cursor: pointer;
    border: 1px dashed #d9d9d9;
  }
    #charts-view div.active {
      border-color: #00bf20;
    }

#chart-candles {
  width: 100%;
  /* height: 100%; */
  height: 70%;
  /* height: 50%; */
  border: 1px solid black;
}

#chart-volume {
  width: 100%;
  height: 30%;
  border: 1px solid black;
  border-top: : none;
}

#chart-rsi {
  width: 100%;
  height: 30%;
  /* height: 25%; */
  border: 1px solid black;
  border-top: none;
}

#chart-adx {
  width: 100%;
  height: 25%;
  border: 1px solid black;
  border-top: none;
}

.trading-actions {
  position: absolute;
  z-index: 999;
  top: 4px;
  right: 56px;
  display: none;
}
  .trading-actions.active {
    display: block;
  }

  .trading-actions .status {
    width: 9px;
    height: 10px;
    display: block;
    background-color: orange;
    border-radius: 3000px;
    position: absolute;
    left: -18px;
    top: 12px;
  }
    .trading-actions .status.active {
      background-color: #00bf20;
    }

  .trading-actions button {
    margin-bottom: 7px;
    width: 94px;
    text-align: left;
    background-color: transparent;
    padding: 6px 7px;
    font-family: monospace;
    font-size: 15px;
    cursor: pointer;
    color: white;
    text-shadow: 1px 1px 1px #000;
  }
    .trading-actions button.buy {
      background-color: #00bf20;
    }

    .trading-actions button.sell {
      background-color: #d10000;
    }

    .trading-actions button.next {
      background-color: black;
    }

.strategy {
  border: 1px solid black;
  margin-top: 20px;
  padding: 15px;
  position: relative;
}
  .strategy .switch {
    position: absolute;
    right: 15px;
  }

  .strategy p {
    font-family: monospace;
    font-size: 20px;
    margin-bottom: 10px;
  }
    .strategy p:last-child {
      margin-bottom: 0;
    }
