extends ../app

block variables
	-
		const pageTitle = 'Мониторинг уровней';

block content
	.page.levels-monitoring.container

block scripts
	script(src='/javascripts/websocket.js')
	script(src='/javascripts/web/levels-monitoring.js')
