extends ../app

block variables
	-
		const pageTitle = 'Мониторинг плотностей';

block content
	.page.volume-monitoring
		.container
			#futures
				h2 Futures

			#spot
				h2 Spot

block scripts
	script(src='/javascripts/websocket.js')
	script(src='/javascripts/web/volume-monitoring.js')
