extends ../app

block variables
	-
		const pageTitle = 'Мониторинг плотностей';

block content
	.page.volume-monitoring
		#futures
			h2 Futures
			.container

		#spot
			h2 Spot
			.container

block scripts
	script(src='/javascripts/websocket.js')
	script(src='/javascripts/web/volume-monitoring.js')
